In [ ]:
l1=[1,2,4,5,7,8]
l2=[6,7,8,9]
l1.extend(l2)
print(l1)
l1.pop(3)
print(l2)
l1.remove(4)
print(l1)

[1, 2, 4, 5, 7, 8, 6, 7, 8, 9]
[6, 7, 8, 9]
[1, 2, 7, 8, 6, 7, 8, 9]

In [ ]:
l3=[1,7,9,10,3,5]
print(max(l3))

10

In [ ]:
#data slicing
a="python is a language"
print(a[:6])
print(a[::-1])

python
egaugnal a si nohtyp

In [ ]:
#list comperhension
l4=[i for i in[1,2,3,4,5,6,7] if i%2==0]
print(l4)

[2, 4, 6]

In [ ]:
#the salary of 5 employees in a company is taken in a list.the tax is 10% if the salary is lessthan or=50000 or it is 15%
#create a new list with tax amounts
#list_name=[(body of if if (condition) else (body of else) iterate(for loops)]
l5=[37000,47000,78000,89000,50000]
tax=[i*0.1 if i<=50000 else i*0.15 for i in l5]
print(tax)

[3700.0, 4700.0, 11700.0, 13350.0, 5000.0]

In [ ]:
#explict
a="5"
print(type(a))
b=int(a)
print(type(b))

<class 'str'>
<class 'int'>

In [ ]:
#type casting
#implict
a=5
print(type(a))
a="5"
print(type(b))

<class 'int'>
<class 'int'>

In [ ]:
a=int(input("enter a number"))
while a<10:
  print(a)
  a+=1

enter a number4
4
5
6
7
8
9

In [ ]:
#importing
import numpy as np

In [ ]:
#creating 1d array
A=np.array([2,3,4,5])
print(type(A))

<class 'numpy.ndarray'>